.img {
    width: 100%;
    border-radius: 10px;
    
}


.back {
    color: white;
    transform: scale(1.4);
    cursor: pointer;
    
    &:hover {
        transform: scale(1.8);
        transition: transform 0.2s ease;
    }
}
.container {
    padding: 0 !important;
}
